/* 基本样式 */
body {
  font-family: 'Noto Sans', sans-serif;
}

span.highlight {
  font-size: 4em;
  margin-left: 1%;
  background-color: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px #ffffffc0,
               0 0 10px rgb(41, 177, 255); 
}

#title-full {
  font-size: 8em;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  color: transparent;
  background: linear-gradient(to bottom, #6fbafd, #4ef3fc);
  -webkit-background-clip: text;
  background-clip: text;
}

.footer .icon-link {
  font-size: 25px;
  color: #000;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.publication-banner {
  max-height: parent;
}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-title {
  font-family: 'Google Sans', sans-serif;
  text-align: left;
  margin-left: 2%;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
  text-align: left;
  margin-left: 2%;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors a {
  color: hsl(0, 0%, 0%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.publication-authors-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  position: relative;
  padding: 20px;
  font-size: large;
}

.authors {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.author-line {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.author-block {
  font-size: 1.5em;
  font-weight: bold;
  color: hsl(0, 0%, 0%) !important;
}

.author-block a {
  color: hsl(0, 0%, 0%) !important;
}

.author-block a:hover {
  text-decoration: underline;
}

.links {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  gap: 10px;
  z-index: 2;
}

.link-block {
  font-size: 1.5em;
  font-weight: bold;
  color: hsl(197, 96%, 58%) !important;
}

.link-block a {
  color: hsl(197, 96%, 58%) !important;
}

.link-block a:hover {
  text-decoration: underline;
}
.divider {
  width: 4px;
  background-color: #00BEF3;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 18%;
  transform: translateX(-40%) rotate(20deg);
  z-index: 1;
}

.institutions {
  display: flex;
  flex-direction: column;
  transform: translateX(-1130%);
  gap: 10px;
  z-index: 2;
}

.institution-block {
  font-size: 1.2em;
  font-style: italic;
  color: hsl(0, 0%, 0%) !important;
}

.institution-block sup {
  font-size: 1em;
  font-style: italic;
}

.special-authors::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -60px;
  width: calc(100% + 20px);
  height: 200px;
  background: rgb(255, 255, 255);
  clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
  box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
  z-index: 0;
}

.special-authors-second::before {
  content: '';
  position: absolute;
  top: -160px;
  left: -45px;
  width: calc(100% + 20px);
  height: 200px;
  background: rgb(103, 202, 255);
  clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
  box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
  z-index: -1;
}

.author-block {
  display: inline-block;
}

.special-link::before {
  content: '';
  position: absolute;
  top: 0px;
  left: -60px;
  width: calc(50%);
  height: 100px;
  background: rgb(255, 255, 255);
  clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
  box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
  z-index: 0;
}

.special-link-second::before {
  content: '';
  position: absolute;
  top: -68px;
  left: -18px;
  width: calc(47%);
  height: 100px;
  background: rgb(103, 202, 255);
  clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
  box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
  z-index: -1;
}

.publication-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}

/* 适配4K和2K分辨率的媒体查询 */
/* @media (max-width: 3840px) {
  .publication-title {
    font-size: 5em;
  }

  .author-block {
    font-size: 1.5em;
  }

  .institution-block {
    font-size: 1.5em;
  }

  .divider {
    height: 60%;
    left: 20%;
  }

  .special-authors::before {
    height: 150px;
  }

  .special-authors-second::before {
    height: 150px;
  }
} */

@media (max-width: 2560px) {
  span.highlight {
    font-size: 2em;
    margin-left: 1%;
    background-color: #ffffff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px #ffffffc0,
                 0 0 10px rgb(41, 177, 255); 
  }
  
  #title-full {
    font-size: 6em;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: transparent;
    background: linear-gradient(to bottom, #6fbafd, #4ef3fc);
    -webkit-background-clip: text;
    background-clip: text;
  }
  .publication-title {
    font-size: 4em;
  }

  #title-full {
    font-size: 6em;
  }

  .author-block {
    font-size: 1em;
  }

  .institutions {
    transform: translateX(-865%);
    gap: 2px;
  }

  .institution-block {
    font-size: 1em;
  }

  .divider {
    width: 3.5px;
    height: 70%;
    top: 15%;
    left: 19%;
    transform: translateX(-35%) rotate(20deg);
  }
  .special-authors::before {
    top: 11px;
    left: -60px;
    width: calc(100% + 20px);
    height: 200px;
    background: rgb(255, 255, 255);
    clip-path: polygon(0 0, 33% 0, 31% 100%, 0 100%);
    box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
    z-index: 0;
  }
  .special-authors-second::before {
    content: '';
    position: absolute;
    top: -120px;
    left: -54px;
    width: calc(100% + 20px);
    height: 200px;
    clip-path: polygon(0 0, 33% 0, 31% 100%, 0 100%);
    box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
    z-index: -1;
  }
  .special-authors::before {
    height: 120px;
  }

  .special-authors-second::before {
    height: 120px;
  }

  .special-link::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -60px;
    width: calc(62%);
    height: 80px;
    background: rgb(255, 255, 255);
    clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
    box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
    z-index: 0;
  }

  .special-link-second::before {
    content: '';
    position: absolute;
    top: -60px;
    left: -17px;
    width: calc(57%);
    height: 80px;
    background: rgb(103, 202, 255);
    clip-path: polygon(0 0, 29% 0, 27% 100%, 0 100%);
    box-shadow: 0 4px 8px rgba(137, 251, 255, 0.2);
    z-index: -1;
  }
  .link-block {
    font-size: 1.2em;
  }
}